* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --main-background: rgb(27, 116, 158);
  --main-color: #fff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font: 2rem "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  body {
    font: 1.5rem "Roboto", sans-serif;
  }
}

@media screen and (max-width: 500px) {
  body {
    font: 1.2rem "Roboto", sans-serif;
  }
}
